p {
    color: #5D9B75;
}
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.leftWrapper {
    display: inline-block;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    width: 15em;
    height: 100%;

    background-color: #1e1e1e;
}

.listView {
    display: block;
    position: relative;
}

.listView li {
    display: block;
    list-style: none;
}

.listView li a {
    display: block;
    padding: 20px;

    color: #fff;
    font-family: sans-serif;
    font-size: 1.1em;
    text-decoration: none;

    border-top: 1px solid rgba(93,155,117);
    border-bottom:1px solid rgba(255,255,255,0.04);

    -webkit-transition: all .20s ease;
    -moz-transition: all .20s ease;
    -o-transition: all .20s ease;
    transition: all .20s ease;
}

.rightWrapper {
    display: inline-block;
    position: absolute;
    left: 15em;
    margin: 0;
    padding: 0px 40px;
    width: calc(100% - 15em);
    height: 100%;
    overflow-y: scroll;

    background-color: #efefef;

    -webkit-transition: all .20s ease;
    -moz-transition: all .20s ease;
    -o-transition: all .20s ease;
    transition: all .20s ease;
}

.header {
    display: block;
    position: absolute;
    left: 15em;
    width: 100%;
    z-index: 999;

    background-color: #efefef;
    border-bottom:2px solid rgba(0,0,0,0.2);

    -webkit-transition: all .20s ease;
    -moz-transition: all .20s ease;
    -o-transition: all .20s ease;
    transition: all .20s ease;
}

.fullPage {
    display: inline-block;
    margin-left: 20px;
    padding: 10px;

    color: #1e1e1e;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.contentWrapper {
    display: block;
    position: relative;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: auto;
    clear: both;
}

article {
    margin-bottom: 20px;

    color: #1e1e1e;
    font-family: sans-serif;
    font-size: 1em;
    text-decoration: none;
    padding: 15px;

    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

section {
    padding: 10px;
}

.article-header {
    padding: 10px;

    color: #fff;
    font-family: sans-serif;
    font-size: 1.5em;
    text-align: left;

    background-color: #5D9B75;
}

.showCase, #showCase section, #showCase section a {
    display: inline-block;
    padding: 10px;
    vertical-align: top;

    color: #1e1e1e;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
    text-decoration: none;

    -webkit-transition: all .20s ease;
    -moz-transition: all .20s ease;
    -o-transition: all .20s ease;
    transition: all .20s ease;
}

.showCase {
    padding: 0;
}

.showCase section a {
    box-shadow: inset 0px -2px #5D9B75;
}

.showCase section a:hover {
    color: #fff;
    box-shadow: inset 0px -50px #5D9B75;
}

.social {
    text-align: center;
}

.social a {
    display: inline-block;
    width: 60px;
    height: 60px;
    box-shadow: inset 0px 0px;
}

.social a:hover {
    box-shadow: inset 0px 0px;
}

.social a img {
    max-width: 100%;
}


.list-item-active:after {
    content: "";
    position: absolute;
    margin-top: -65px;
    margin-left: 13.45em;

    width: 0;
    height: 0;
    border-top: 33px solid transparent;
    border-bottom: 33px solid transparent;
    border-right: 25px solid #5D9B75;

    -webkit-transition: all .20s ease;
    -moz-transition: all .20s ease;
    -o-transition: all .20s ease;
    transition: all .20s ease;
}

.social-btn {
    color: #000000;
    font-size: 20px;
    margin: 10px;
    line-height: 40px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
a {
    text-decoration: none !important;
}



.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    text-align: center;
    background-color: #5D9B75;
    border: 6px solid #5D9B75;
}
.alignnone{
    margin: 1px 4px 0 0;
    padding: 5px;
    background-color: #5D9B75;
    border: 1px solid #5D9B75;
    text-align: center;
    border-radius: 30px;
    align="center"
}





